@import url(./base.css);
.about{
  padding: 16px;
  background-color: var(--color-backtwo-light);
  color: var(--color-fontone-light);
}
.about .about__container .about__title{
  font-size: 2.2rem;
  margin: 0;
}
.about .about__container .about__paragraph{
  font-size: 1.4rem;
  margin: 16px 0;
}
.about .about__container img{
  width: 140px;
  height: 52px;
}
.about .about__container svg{
  width: 80px;
}
@media screen and (min-width:768px) {
  .about{
    padding: 32px;
  }
}
@media screen and (min-width:1200px) {
  .about{
    padding: 64px 32px;
  }
  .about .about__container{
    width: 1136px;
    margin: 0 auto;

  }
  .about .about__container .about__title{
    font-size: 3.2rem;
  }
  .about .about__container .about__paragraph{
    font-size: 1.6rem;
    width: 70%;
  }
}