@import url(./base.css);
.formcontato{
  padding: 32px;
  background-color: var(--color-backtwo-light);
}
.formcontato .formcontato__contacto .formcontato--esquerda{
  display: none;
}
.formcontato .formcontato__contacto .formcontato__text .formcontato__title{
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}
.formcontato .formcontato__contacto .formcontato__text .formcontato__subtext{
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
}
.formcontato .formcontato__contacto .formcontato__text .formcontato__subtext:nth-child(3){
  margin-bottom: 32px;
}
.formcontato .formcontato__contacto .formcontato__text .formcontato__form{
  display: flex;
  flex-direction: column;
}
.formcontato .formcontato__contacto .formcontato__text .formcontato__form{
  display: flex;
  gap: 32px;
}
.formcontato .formcontato__contacto .formcontato__text .formcontato__form .input-all,
.formcontato .formcontato__contacto .formcontato__text .formcontato__form .input-text{
  width: 100%;
  height: 54px;
  position: relative;
  background-color: var(--color-de-white);
  color: var(--color-fonttwo-light);
}
.formcontato .formcontato__contacto .formcontato__text .formcontato__form .input-all .error-msj,
.formcontato .formcontato__contacto .formcontato__text .formcontato__form .input-text .error-msj{
  position: absolute;
  bottom: 4px;
  padding-left: 8px;
  color: red;    
  font-size: 1.4rem;
  transform: translate(0, 27px);
}
.formcontato .formcontato__contacto .formcontato__text .formcontato__form .input-all .error-active,
.formcontato .formcontato__contacto .formcontato__text .formcontato__form .input-text .error-active{
  color: red;
}
.formcontato .formcontato__contacto .formcontato__text .formcontato__form .input-text{
  width: 100%;
  height: 140px;
  position: relative;
}
.formcontato .formcontato__contacto .formcontato__text .formcontato__form .input-all .formcontato__input,
.formcontato .formcontato__contacto .formcontato__text .formcontato__form .input-text .formcontato__textarea{
  position: absolute;
  width: 100%;
  height: 95%;
  border: none;
  box-sizing: border-box;
  padding: 0 18px;
  font-family: 'Raleway';
  font-size: 1.6rem;
  outline: none;
  transform: translateY(10px);
  background-color: transparent;
  color: black;
}
.formcontato .formcontato__contacto .formcontato__text .formcontato__form .input-text .formcontato__textarea{
  padding: 14px 18px;
}

.formcontato__contacto .formcontato__text .formcontato__form .input-all .placeholder,
.formcontato .formcontato__contacto .formcontato__text .formcontato__form .input-text .placeholder-mensaje{
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 1.6rem;
  padding: 18px;
  pointer-events: none;
  transition: all 0.3s ease;
}
.formcontato .formcontato__contacto .formcontato__text .formcontato__form .error-placeholder,
.formcontato .formcontato__contacto .formcontato__text .formcontato__form .input-text .error-placeholder{
  color: red;
}
.formcontato .formcontato__contacto .formcontato__text .formcontato__form .input-all .formcontato__input::placeholder{
  color: transparent;
}
.formcontato .formcontato__contacto .formcontato__text .formcontato__form .input-all .formcontato__input:focus ~ .placeholder,
.formcontato .formcontato__contacto .formcontato__text .formcontato__form .input-text .formcontato__textarea:focus ~ .placeholder-mensaje,
.formcontato .formcontato__contacto .formcontato__text .formcontato__form .input-all .formcontato__input:not(:placeholder-shown) ~ .placeholder,
.formcontato .formcontato__contacto .formcontato__text .formcontato__form .input-text .formcontato__textarea:valid ~ .placeholder-mensaje{
  transform: translateY(-14px);
  font-size: 1.2rem;
}
.formcontato .formcontato__contacto .formcontato__text .formcontato__form .formcontato__textarea{
  width: 100%;
  border: none;
  padding: 8px;
  font-family: 'Raleway';
  box-sizing: border-box;
  font-size: 1.6rem;
  font-weight: 400;
  resize: none;
  outline: none;
}
.formcontato .formcontato__contacto .formcontato__text .formcontato__form .formcontato__textarea::placeholder{
  color: var(--color-fonttwo-light);
}
.formcontato .formcontato__text .formcontato__form .formcontato__botao{
  font-family: 'Raleway';
  min-width: 90px;
  width: 110px;
  max-width: 150px;
  border: none;
  padding: 12px 16px;
  background-color: var(--color-primary-light);
  color: var(--color-de-white);
  font-size: 1.4rem;
  font-weight: 500;
}
.formcontato .formcontato__text .formcontato__form .formcontato__botao:hover{
  cursor: pointer;
  background-color: var(--color-primary2-light);
}
@media screen and (min-width:768px) {
  .formcontato .formcontato__contacto{
    width: 700px;
    margin: 0 auto;
  }
  .formcontato .formcontato__contacto .formcontato__text .formcontato__form .formcontato__input{
    padding: 0 16px;
  }
  .formcontato .formcontato__contacto .formcontato__text .formcontato__form .formcontato__textarea{
    padding: 16px;
  }
}
@media screen and (min-width:1200px) {
  .formcontato{
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .formcontato .formcontato__contacto{
    width: 1136px;
    display: flex;
    justify-content: space-between;
  }
  .formcontato .formcontato__contacto .formcontato--esquerda{
    display: block;
  }
  .formcontato .formcontato__contacto .formcontato__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 18px;
  }
  .formcontato .formcontato__contacto .formcontato__text .formcontato__title{
    font-size: 3.2rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 8px;
  }
  .formcontato .formcontato__contacto .formcontato__text .formcontato__form .formcontato__textarea{
    height: 133px;;
  }
  .formcontato .formcontato__contacto .formcontato__text .formcontato__form .formcontato__botao{
    height: 50px;
  }
}