@import url(./base.css);
.experience{
  padding: 32px;
  color: var(--color-fontone-light);
}
.experience .experience__section__title{
  font-size: 2.2rem;
  text-align: center;
  font-weight: 900;
  margin-top: 0;
}

.experience .experiencie__box{
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;

}
.experience .experiencie__box .container_img{
  max-width: 752px;
  overflow: hidden;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.15);
  transition: all 500ms ease;
}
.experience .experiencie__box .container_img .experience__img{
  aspect-ratio: 16 / 9;
  object-fit:cover;
  width: 100%;
  transition: all 500ms ease;
}
.experience .experiencie__box .experience__img:hover{
  transform: scale(1.1);
}
.experience .experiencie__box .experience__title{
  font-size: 1.6rem;
  font-weight: 700;
  margin: 16px 0 8px;

}
.experience .experiencie__box .experience__text{
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 0 8px;

}
.experience .experiencie__box .experience__description{
  display: flex;
  flex-wrap: wrap ;
  gap: 16px;

}
.experience .experiencie__box .experience__description .experience__repo .experiencia__botao--repo{
  font-family: 'Raleway';
  min-width: 100px;
  width: 110px;
  box-sizing: border-box;
  border: solid 2px var(--color-primary-light);
  background-color: var(--color-backone-light);
  padding: 10px 16px;
  color: var(--color-primary-light);
  font-size: 1.4rem;
  font-weight: 500;
  
}
.experience .experiencie__box .experience__info .experience__description .experience__demo .experience__botao--demo{
  font-family: 'Raleway';
  min-width: 100px;
  width: 110px;
  box-sizing: border-box;
  border: solid 2px var(--color-primary-light);
  padding: 10px 16px;
  background-color: var(--color-primary-light);
  color: var(--color-de-white);
  font-size: 1.4rem;
  font-weight: 500;
}
.experience .experiencie__box .experience__description .experience__repo .experiencia__botao--repo:hover{
  cursor: pointer;
  border: solid 2px var(--color-primary2-light);
  color: var(--color-primary2-light);
  background-color: var(--color-backtwo-light);
}
.experience .experiencie__box .experience__info .experience__description .experience__demo .experience__botao--demo:hover{
  cursor: pointer;
  background-color: var(--color-primary2-light);
}
.experience .experiencie__box:last-child{
  margin-bottom: 0;
}
@media screen and (min-width:768px) {
  .experience{
    margin: 0 auto;
  }
  .experience .experiencie__box{
    max-width: 752px;
    align-items: center;
    margin: 0 auto;
  }
  .experience .experience__info{

    max-width: 900px;
    align-self: flex-start;
  }
  .experience .experiencie__box{
    margin-bottom: 64px;
  }
  .experience .experiencie__box:last-child{
    margin-bottom: 0;
  }
  
}
@media screen and (min-width:1200px) {
  .experience{
    max-width: 100%;
  }
  .experience .experience__section__title{
    font-size: 3.2rem;
    margin-bottom: 32px;
  }
  .experience .experiencie__box{
    max-width: 1136px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 64px;
  }
  .experience .experiencie__box:nth-child(2n){
    flex-direction: row;
  }
  .experience .experiencie__box .experience__info{
    width: 368px;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
  }
  .experience .experiencie__box .experience__title{
    font-size: 2.2rem;
  }
  .experience .experiencie__box .experience__text{
    font-size: 1.6rem;
  }
  .experience .experiencie__box .experience__description .experience__repo .experiencia__botao--repo{
    width: 120px;
  }
  .experience .experiencie__box .experience__info .experience__description .experience__demo .experience__botao--demo{
    width: 120px;
  
  }
}