@import url(./base.css);
.title{
  padding: 88px 16px 16px 16px;
  color: var(--color-fontone-light);
}
.title .title__div{
  display: flex;
  flex-direction: column;
}
.title .title__div .title__profile{
  min-width: 98px;
  width: 30%;
  max-width: 146px;
  border-radius: 50%;
}
.title .title__div .title__container{
  display: flex;
  flex-direction: column;
  max-width: 650px;
}
.title .title__div .title__container .title__bio{
  margin: 16px 0;
  font-size: 2.2rem;
  font-weight: 700;
}
.title .title__div .title__container .title__bio span{
  animation: cursor 1s infinite;
}
@keyframes cursor {
  0% { opacity: 1.0; }
  49% { opacity: 1.0; }
  50% { opacity: 0.0; }
  80% { opacity: 0.0; }
  82% { opacity: 1.0; }
  100% { opacity: 1.0; }
  
}

.title .title__div .title__container .title__subsection{
  margin: 0 0 16px 0;
  font-size: 1.4rem;
  font-weight: 400;
}
.title .title__div .title__container .title__network{
  display: flex;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 100;
  padding: 0 10px 0 0;
  justify-content: space-between;
  font-weight: 600;
  flex-wrap: wrap ;
  max-width: 400px;
}
.title .title__div .title__container .title__network li:hover{
  text-decoration: underline;
}

.icon{
  fill: var(--color-fontone-light);
}
@media screen and (min-width:768px) {
  .title{
    padding: 88px 32px 32px 32px;
  }
  .title .title__div{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 32px;
    align-items: center;
  }
  .title .title__div .title__profile{
    min-width: 146px;
    width: 30%;
    max-width: 368px;
    border-radius: 50%;
    height: 100%;
  }
  .title .title__div .title__container .title__subsection{
    font-size: 1.6rem;
  }
  .title .title__div .title__container .title__network{
    font-size: 1.6rem;
  }
  
}
@media screen and (min-width:1200px) {
  .title{
    display: flex;
    padding-top: 120px;
  }
  .title .title__div{
    width: 1136px;
    margin: 0 auto;
    justify-content: space-between;
  }
  .title .title__div .title__profile{
    min-width: 146px;
    width: 35%;
    max-width: 368px;
    border-radius: 50%;
  }
  .title .title__div .title__container .title__bio{
    font-size: 5.2rem;
  }
  .title .title__div .title__container .title__subsection{
    font-size: 2.2rem;
  }
}