@import url(./base.css);
.skills{
  padding: 16px;
  color: var(--color-fontone-light);
  box-sizing: border-box;
}
.skills .skills__title{
  font-size: 2.2rem;
  text-align: center;
  margin: 0 0 32px;
  font-weight: 700;
}
.skills .skills__line{
  justify-content: center;
  display: flex;
  width: 100%;
  gap: 16px;
  flex-wrap: wrap;
}
.card{
  background-color: var(--color-de-white);
}
.skills .skills__box{
  display: flex;
  width: calc(50% - 8px);
  height: 118px;
  min-width: 110px;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.15);
}
.skills .skills__line .skills__box:hover{
  animation: big 0.4s both;
}
.skills .skills__box ul{
  min-width: 110px;
  width: 100%;
  height: auto;
  padding: 16px;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 0;
}
.skills .skills__box ul .skills__img{
  padding-bottom: 12px;
}
.skills .skills__box ul .skills__name{
  font-weight: 700;
  font-size: 1.6rem;
  font-weight: 700;
}
.icon__skills{
  fill: var(--color-primary-light);
}

@media screen and (min-width:768px) {
  .skills{
    padding: 32px;
  }
  .skills .skills__line{
    gap: 32px 16px;
  }
  .skills .skills__box{
    width: calc(33.33% - 12px);
    
  }
}

@media screen and (min-width:1200px) {
  .skills{
    padding-bottom: 0;
  }
  .skills .skills__title{
    font-size: 3.2rem;
  }
  .skills .skills__line{
    width: 1136px;
    margin: 0 auto;
  }
  .skills .skills__box{
    width: 176px;
    height: 174px;
    
  }
}